body {
  background-color:#adf0ff;
}

.login-registration {
  /*background-color:red;*/
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 300px;
  padding-top: 50px;
  
}

.col-lg-6 { 
padding: 30px;
display: flex;
justify-content:space-around;
align-items:center
}
