body {
  background-color: #3591A7;
  background-size: 1450px 1200px;
  height: 100vh; }

.login-registration {
  /*background-color:red;*/
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 300px;
  padding-top: 50px; }

.col-lg-6 {
  padding: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center; }

div.field.is-grouped.welcome-space {
  margin-top: 250px;
  padding: 200px;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: baseline; }
