$notification-center-color: white;
$notification-color:#D1D1D1;

.tile.is-ancestor.logged { 
  padding:20px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  height: 1000px;
}

.button.is-primary {
background-color: #127A93;
}

.button.is-primary:hover { 
    text-decoration:none;
}

.tile .is-child .box { 
  
}

tile .is-parent { 

}

.dashboard { 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

 .notification.notification-center { 
  background-color:$notification-center-color;
}

.notification { 
  background-color: $notification-color;
}