$background_color:#3591A7;
$background_photo: 23;
body {
  // background: url(http://www.psdgraphics.com/file/abstract-network-background.jpg);
  background-color: $background_color;
  background-size: 1450px 1200px; 
  height:100vh;
}

.login-registration {
  /*background-color:red;*/
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  
} 

.col-lg-6 {  
padding: 30px;
display: flex;
justify-content:space-around;
align-items:center
}

.is-grouped.welcome-space {
  display: felx;
  flex-direction:column;
  .optionButtons {
    padding-left:200px; 
    padding-top:60px; 
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
  }
}