$notification-center-color: white;
$notification-color:#D1D1D1;

.tile.is-ancestor.logged {
  padding:20px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
}

.button.hover {
  background-color: #8790db;
}
.logged {
  width: 100%;
}

.dash-container {
  width: 100%;
}

.profile {
  width: 100%;
  flex-grow: 1;
}

.button.is-primary {
  background-color: #c871ed;
  opacity: 0.9;
}

.input {
  opacity: 1;
}

.button.hover:hover {
    text-decoration:none;
}

.box {
  background-color: rgba(254, 252, 250, 0.7);
}

.table {
  background-color: rgba(63, 179, 242, 0);
}

.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.tile.is-child.box.dashboard.profilebox {
  right: 0;
}

#react-dashboard {
  height: 100%;
  width: 100%;
}

#react-root {
  height: 100%;
}

.registerApp {
  height: 100%;
}

.profile-container {
  padding: 2em;
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.profile-avatar {
  max-block-size: 10em;
}

.profile-name {
  font-size: 2em;
  margin-top: 1em;
}
