$button-color: #8DCEEE;
$button-color-hover: #87adff;
$trashDeleteButtonColor : white;

.tile.is-ancestor.mainboard {
  padding: 20px;
  display: flex;
  height: 100%;
  width: 100%;
}

#react-pinboard {
  height: 100%;
}

.hangout-pinboard {
  padding-left:0;
  justify-content: center;
}
.mainboard-contents {
  padding-top:0;
  padding-left:2;
  padding-right:2;
  min-width: 65em;
}
.components-container {
  display: flex;
  flex-flow: row wrap;
  .deleteIcon{
    content: "\f014";
    background: $trashDeleteButtonColor;
    border-radius: 100%;
    padding: 5px;
  }
}

.item-container {
  border-radius: 10px;
  margin: 10px;
  flex-wrap: wrap;
  padding: 20px 30px;
  background: rgba(254, 252, 250, 0.57);
  line-height: 100px;
  height: 267px;
  max-height: 210px;
  // height: 257px;
  // max-height: 200px;
}

.item-div {
  flex-grow: 1;
}

.item-container:hover {
  background: $button-color-hover;
  cursor: pointer;
}

.item {
  display: flex;
}

p.item {
  height: 257px;
  max-width: 260px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5; /* number of lines to show */
  max-height: 5*20px;
}

button.video-chat {
  // padding: 8em;
    left: 25.4%;
}

button.youtube {
  // padding: 8em;
    left: 25.4%;
}

.hangout-container {
  padding: .5em;
  margin: .5em;
}

.add-content-container {
  display: inline-block;
  position: relative;
  &.open{
  $dist: 2.7em;
    .photo{
      transform: translate($dist);
      cursor: pointer;
    }
    .message{
      transform: translate($dist * 2);
      cursor: pointer;
    }
    .note{
      transform:translate($dist * 3);
      cursor: pointer;
    }
  }
}
.add-content {
  position:absolute;
  border-radius: 100%;
  background-color: #6ba3ff;
  display: inline-block;
  padding: .5em;
  width: 2.5em;
  height: 2.5em;
  transition: transform .3s ease;
  &.top{
    position:relative;
  }
}

.add-content.add:hover {
  background: $button-color-hover;
}

.add {
  padding: 6px 6.5px;
}

.add-button {
  background-color: $button-color;
}

.fa-plus {
  padding: 5px 5.5px;
  cursor: pointer;

}

.fa-trash-o {
  margin-top: 0px;
  float: right;
}

.close-popup {
  width: 10px;
}

h2.popup-header {
  display: flex;
  // background-color: blue;
}

.modal {
  z-index: 9001;
}


img.img-thumb {
  height: 100%;
}

img.img-title {
  height: 100%;
}

.img-title {
  display: flex;
  justify-content: center;
}

#tooltip {
  max-width: none;
  z-index: 9001;
}

.button.hover {
  background-color: $button-color;
  opacity: 0.9;
  border: none;
}

.pinboardButton {
  margin-left: -16em;
  padding: 0.4em 5em;
  margin-left: 30px;
  margin-bottom: .6em;
}

.hangoutButton {
  margin-left: 5em !important;
  padding: 0.4em 5em;
  margin-bottom: .6em;
}

.video-chat {
  padding: 0.4em 10em;
  margin: 2em;
  margin-left: 30px;
}

.youtube {
  padding: 0.4em 9.2em;
  margin-left: 30px;
  margin: 2em;
}

.input {
  resize: none;
}

.input-description {
  height: 200px;
}

.modal-title {
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.room-icon {
  margin-left: 40px;
}

.container {
  width: 100%;
  min-width: 500px;
}

.fa-video-camera {
  margin-left: 2em;
}

.fa-youtube-play {
  margin-left: 2em;
}

.modal-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
}

.modal-header {
  background-color: $button-color;
}

.image-desc {
  margin: 0 7px;
}

.image-thumb {
  margin: 3px 0;
}

.youtube-thumbnail {
  max-width: 13em;
  padding: 1em 1em;
  background-color: rgba(254, 252, 250, 0.57);
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
  flex-grow: 1;
}

.thumbnail-list {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
}

.content.search {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
}

.search-header {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  font-size: 20px;
  margin-top: .7em;
}

.search-button {
  margin-left: 12.6em;
  margin-top: .3em;
  border: none;
}

.vid-thumb-title {
  cursor: pointer;
  font-size: .8 em;
  height: 6em;
}

.hover:hover {
  background-color: $button-color-hover;
  border: none;
}

#iframe {
  width: 900px;
  height: 400px;
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
  margin-left: 2em;
}

.youtube-player {
  margin-left: 14em;
  margin-top: 1em;
  border: solid #163054 5px;
  border-radius: 4px;
}
