.tile.is-ancestor.mainboard {
  padding: 20px;
  display: flex;
  height: 100%;
}

#react-pinboard {
  height: 100%;
}

.hangout-pinboard {
  padding-left:0;
  justify-content: center;
}
.mainboard-contents {
  padding-top:0;
  padding-left:2;
  padding-right:2;
}
.components-container {
  display: flex;
  flex-flow: row wrap;
}

.item-container {
  border-radius: 10px;
  margin: 10px;
  flex-wrap: wrap;
  padding: 20px 30px;
  flex-grow: 10;
  background: rgba(254, 252, 250, 0.57);
  line-height: 100px;

}

.item-container:hover {
  background: #d49de8;
  cursor: pointer;
}

.item {
  display: flex;
}

.add-content-container {
  display: inline-block;
  position: relative;
  &.open{
  $dist: 2.5em;
    .photo{
      transform: translate($dist);
      cursor: pointer;
    }
    .message{
      transform: translate($dist * 2);
      cursor: pointer;
    }
    .note{
      transform:translate($dist * 3);
      cursor: pointer;
    }
  }
}
.add-content {
  position:absolute;
  border-radius: 100%;
  background-color: rgba(62, 192, 243, 0.54);
  display: inline-block;
  padding: .5em;
  width: 2.5em;
  height: 2.5em;
  transition: transform .5s linear;
  &.top{
    position:relative;
  }
}
.add {
  padding: 5px 5.5px;
}
.add-button {
  background-color: #d49de8;
}

.fa-plus {
  padding: 5px 5.5px;
  cursor: pointer;

}

.fa-trash-o {
  margin-top: 0px;
  float: right;
}

.close-popup {
  width: 10px;
}

h2.popup-header {
  display: flex;
  // background-color: blue;
}
.whatever {
  background-color: red;
}
.modal {
  z-index: 9001;
}


img.img-thumb {
  height: 100%;
}

img.img-title {
  height: 100%;
}

#tooltip {
  max-width: none;
  z-index: 9001;
}

.button.is-primary {
  background-color: #c871ed;
  opacity: 0.5;
}

.pinboardButton {
  margin-left: 16.5em !important;
}

.input {
  resize: none;
}

.input-description {
  height: 200px;
}

.modal-title {
  display: inline;
  margin-left: 16.5em; 
}

.room-icon {
  margin-left: 40px;
}